@model UserSignup1.ViewModels.AddUserViewModel
<h1>Sign Up Page</h1>

<form asp-controller="User" asp-action="Add" method="post">
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br/>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br/>
    <label asp-for="Verify"></label>
    <input asp-for="Verify" />
    <span asp-validation-for="Verify"></span>
    <br/>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br/>
    <input type="submit" value="Sign Up" />
</form>

